/* -- Header -- */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  /* Move element out of bounds when sticky, requried for scroll 
  ** detection via IntersectionObserver. */
  top: -1px;
}

.header-inner {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 0.5rem var(--screen-offset);
  height: 100%;
  background-color: var(--color-background);
}

.header-shadow {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: var(--elevation-1);
  opacity: 0;
  transform: scaleY(0%);
  transform-origin: bottom;
  transition: transform 0.35s ease-in-out, opacity 0.15s ease-in-out;
}

header[data-stuck='true'] .header-shadow {
  opacity: 1;
  transform: scaleY(100%);
}

header form {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

header .input-container {
  max-width: 240px;
}

@media (max-width: 720px) {
  header .input-container {
    display: none;
  }
}

header .tabs {
  flex: 1;
}

/* -- Footer -- */

footer {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  footer {
    margin-top: 3rem;
  }
}

footer a {
  padding: 2rem var(--screen-offset);
  color: var(--color-foreground-muted);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

footer a svg {
  width: 1.5rem;
}

/* -- Logo -- */

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-foreground-muted);
  font-size: 1rem;
  border-radius: 2px;
  height: 100%;
}

.logo:hover {
  text-decoration: none;
  color: var(--color-foreground-muted);
}

.logo svg {
  height: 1rem;
  margin-right: 0.5rem;
}

.logo-secondary {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .logo-secondary {
    color: var(--color-foreground);
  }
}

/* -- Spacer -- */

.spacer {
  flex: 1;
}

/* -- Tabs -- */

.tabs {
  display: flex;
  flex-direction: row;
  height: 2.4rem;
  gap: 0.5rem;
}

.tabs a {
  color: var(--color-foreground-muted);
  text-decoration: none;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}

.tabs a:hover,
.tabs a[data-active='true'] {
  color: var(--color-foreground);
}

.tabs a[data-active='true']::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 0px 0.5px var(--color-primary);
  border-radius: 2px;
}

/* -- TypeTabs -- */

@media (max-width: 390px) {
  .type-tabs a span {
    display: none;
  }
}

/* -- Inputs -- */

input:where([type='text']),
input:where([type='search']) {
  display: block;
  width: 100%;
  font: inherit;
  line-height: 1;
  height: 2.4rem;
  padding-right: var(--input-padding);
  padding-left: var(--input-padding);
  background-color: var(--input-background);
  color: var(--color-foreground);
  border-radius: var(--border-radius);
}

::placeholder {
  color: var(--color-foreground-muted);
}

.input-container {
  width: 100%;
  position: relative;
}

.input-container svg {
  color: var(--color-foreground-muted);
  position: absolute;
  top: 50%;
  left: calc(var(--input-padding) - 0.1rem);
  transform: translateY(-50%);
  pointer-events: none;
}

.input-container input:where([type='text']),
.input-container input:where([type='search']) {
  padding-left: calc(1.5rem + var(--input-padding));
}

/* -- Palette -- */

.palette {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

/* -- ColorInput -- */

.color {
  display: block;
  width: 1.85rem;
  height: 1.85rem;
  background-color: var(--input-background);
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 0px 0.5px var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color-foreground-muted);
  display: flex;
  align-items: center;
  justify-content: center;
}

.color:active {
  background-color: var(--input-background-active);
}

.color[data-selected='true'] {
  box-shadow: 0px 0px 0px 0.5px var(--border-color);
  color: var(--color-foreground);
}

/* -- Popover -- */

.popover {
  --popover-top: auto;
  --popover-left: auto;
  --popover-bottom: auto;
  --popover-right: auto;
  --popover-width: auto;
  --popover-border-color: var(--border-color-muted);

  position: absolute;
  top: var(--popover-top);
  left: var(--popover-left);
  bottom: var(--popover-bottom);
  right: var(--popover-right);
  min-width: var(--popover-width);
  opacity: 0;
  pointer-events: none;
  background: var(--color-background-raised);
  border: 1px solid var(--popover-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--elevation-1), 0px 0px 0px 0.5px var(--border-color);
  display: flex;
  flex-direction: column;
}

.popover[data-open='true'] {
  opacity: 1;
  pointer-events: auto;
}

/** -- ColorPicker -- **/

.colorpicker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/** -- Select -- **/

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 2.4rem;
  cursor: pointer;
  padding-right: var(--input-padding);
  padding-left: var(--input-padding);
  border: 1px solid var(--border-color-muted);
  box-shadow: 0px 0px 0px 0.5px var(--border-color);
  border-radius: var(--border-radius);
}

.select svg {
  color: var(--border-color);
}

.select[data-open='true'] svg {
  color: inherit;
}

.select-options {
  padding: 0.5rem 0rem;
}

.select-option {
  display: block;
  color: var(--color-foreground);
  padding: 0.5rem 1rem;
}

.select-option:hover {
  color: var(--color-foreground);
  background-color: var(--input-background-active);
  text-decoration: none;
}

.select-option[data-selected='true'] {
  color: var(--color-foreground-muted);
  background-color: inherit;
}

/** -- LanguageSelect -- **/

.language-option {
  --language-option-svg-width: 1.75rem;
  --language-option-svg-width-offset: 0.4rem;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: calc(
    var(--language-option-svg-width) + 0.25rem - var(--language-option-svg-width-offset)
  );
}

.language-option svg {
  position: absolute;
  top: 50%;
  left: calc(0px - var(--language-option-svg-width-offset));
  transform: translateY(-50%);
  width: var(--language-option-svg-width);
}

.select-option[data-selected='true'] .language-option svg {
  opacity: 0.5;
}

@media (max-width: 1036px) {
  .select .language-option {
    padding-left: 0;
  }

  .select .language-option span {
    display: none;
  }

  .select .language-option svg {
    position: static;
    transform: none;
  }
}

/** -- SortBySelect -- **/

.sortby-selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.sortby-selected > span {
  color: var(--color-foreground-muted);
}

@media (max-width: 1036px) {
  .sortby-selected span {
    display: none;
  }
}

@media (max-width: 480px) {
  .sortby {
    display: none;
  }
}

/** -- Pagination -- **/

.pagination {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination-inner {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* justify-content: space-between; */
}

.pagination-page {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-foreground-muted);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.pagination-page:hover {
  color: var(--color-foreground);
  text-decoration: underline;
}

.pagination-page[data-current='true'] {
  border-color: var(--border-color);
  color: var(--color-foreground);
  box-shadow: 0px 0px 0px 0.5px var(--border-color);
}

.pagination-page[data-current='true']:hover {
  text-decoration: none;
}

/** -- Button -- **/

.button {
  font-size: 0.9rem;
  height: 2.86rem;
  padding: 0 1.75rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--elevation-2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
}

.button:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}

.button-secondary {
  color: var(--color-foreground);
  background-color: transparent;
  box-shadow: none;
  border: 1px solid var(--border-color);
  box-shadow: 0px 0px 0px 0.5px var(--border-color);
}

.button-secondary:hover {
  color: var(--color-foreground);
}

/** -- ErrorView -- **/

.error-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}