:root {
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif,
    system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';

  --color-foreground: hsla(0, 0%, 7%, 0.8);
  --color-foreground-muted: hsla(0, 0%, 9%, 0.5);
  --color-background: hsl(0, 0%, 98%);
  --color-background-raised: hsl(0, 0%, 98%);

  --color-primary: hsl(200.5, 100%, 50%);

  --color-links: hsl(200, 100%, 50%);
  --color-links-hover: hsl(200, 100%, 50%);

  --border-color-muted: hsl(0, 0%, 92%);
  --border-color: hsl(0, 0%, 82%);
  --border-radius: 6px;

  --header-height: 3.75rem;

  --input-background: hsl(0, 0%, 92%);
  --input-background-active: hsl(0, 0%, 88%);
  --input-padding: 0.8rem;
  --input-inset-shadow: inset 1px 2px hsla(0, 0%, 0%, 3%);

  --elevation-1: 0px 4px 12px hsla(0, 0%, 0%, 12%);
  --elevation-2: 0px 3px 10px hsla(0, 0%, 0%, 10%), 0px 4px 24px hsla(0, 0%, 0%, 5%);
  --elevation-3: 0px 1px 2px hsla(0, 0%, 0%, 8%), 0px 2px 4px hsla(0, 0%, 0%, 3%);

  --screen-offset: 2.25rem;
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-primary) solid 1px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

main {
  flex: 1;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.15;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 0.7rem;
  font-weight: normal;
  letter-spacing: 0.01rem;
  margin: 0;
}

h6 {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  margin: 0;
}

button {
  all: unset;
}

input {
  all: unset;
  appearance: none;
  box-sizing: inherit;
}

input[type='hidden'] {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  all: unset; 
}

select {
  all: unset;
}

@media (max-width: 768px) {
  :root {
    --screen-offset: 1.5rem;
  }
}
