:root {
  --container-width: 84rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}

.extension {
  display: flex;
  flex-direction: row;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--screen-offset);
  padding-top: 4rem;
  gap: 4rem;
  width: 100%;
}

.theme-preview {
  flex: 1;
}

.theme-preview img {
  aspect-ratio: 110 / 79;
  max-width: 100%;
  border-radius: 10px;
  background-color: var(--color-background);
  box-shadow: var(--elevation-2);
}

.extension-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extension-description {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 36rem;
}

.extension-actions-heading {
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.extension-actions {
  display: flex;
  gap: 1rem;
}

.extension-themes {
  max-width: var(--container-width);
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

.extension-themes-inner {
  padding: 0 var(--screen-offset);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.extension-themes a {
  display: flex;
  aspect-ratio: 110 / 79;
  border-radius: 2px;
  width: 8rem;
  flex-shrink: 0;
  border: 1px solid transparent;
}

.extension-themes a.active {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.extension-themes a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

@media (prefers-color-scheme: dark) {
  .extension-themes > a.active {
    outline-color: var(--color-primary-dark);
  }
}

@media (hover: hover) {
  .extension-themes a:hover {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .extension-themes > a:hover {
    outline-color: var(--color-primary-dark);
  }
}

.extension-themes .theme-preview img {
  border-radius: 4px;
}

@media (max-width: 1020px) {
  main {
    gap: 2rem;
  }

  .extension {
    gap: 2rem;
  }

  .extension-name h1 {
    font-size: 2.25rem;
  }

  .extension-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 850px) {
  .extension-description {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 800px) {
  .extension {
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
  }

  .extension-description {
    display: block;
  }

  .theme-preview {
    max-width: 36rem;
  }

  .extension-themes {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .extension-themes-inner {
    flex-wrap: nowrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 385px) {
  .extension-actions {
    flex-direction: column;
  }
}
